<!DOCTYPE html>
<html>
<head>
    <title>Chase</title>
</head>
<body>
    {{{body}}}
    <script src='/socket.io/socket.io.js'></script>
    <script>
      var socket = io();
      socket.emit('subscribe', 'name');
      socket.on('new message', function(data) {
        var node = document.createElement('li');
        var textnode = document.createTextNode(data.message);
        node.appendChild(textnode);
        document.getElementById('list').appendChild(node);
      });
      document.getElementById('texter').addEventListener('click', function() {
        socket.emit('send message', { room: 'name', message: 'Hey!' });
      });
    </script>
</body>
</html>